<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="static/globals.css" />
  <link rel="stylesheet" href="static/styleguide.css" />
  <link rel="stylesheet" href="static/style-overlay.css" />
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="{{ url_for('static', filename='overlay.js')}}"> </script>
</head>

<body>
  <body>
    <div class="overlay">
      <div class="div2">
        <img class="blurring" src="static/img/background-static.png" />
        <div class="profile">
          <div class="overlap-group">
            <div class="overlap">
              <div class="rectangle-copy"></div>
              <img class="vectorx" src="static/img/vector-2.svg" />
              <div class="indra-sarabhai">Indra<br />Sarabhai</div>
            </div>
            <div class="overlap-2">
              <img class="path" src="static/img/path-4.svg" />
              <div class="text-wrapper">80</div>
            </div>
            <div class="sex-male-age">Sex: Male<br />Age: 75</div>
          </div>
        </div>
        <div class="overlap-wrapper">
          <div class="overlap-3">
            <div class="overlap-4">
              <div class="rectangle-copy"></div>
              <img class="vectorx" src="static/img/vector-2.svg" />
              <div class="text-wrapper-2">Maya Sarabhai</div>
            </div>
            <div class="overlap-group-2">
              <img class="img" src="static/img/path-3.svg" />
              <div class="text-wrapper">100</div>
            </div>
            <div class="sex-female-age">Sex: Female<br />Age: 68</div>
          </div>
        </div>
        <div class="overlap-group-wrapper">
          <div class="overlap-5">
            <div class="overlap-group-3">
              <div class="rectangle-copy"></div>
              <img class="vectorx" src="static/img/vector-2.svg" />
              <div class="text-wrapper-3">Sahil Sarabhai</div>
            </div>
            <div class="overlap-group-4">
              <img class="path" src="static/img/path-2.svg" />
              <div class="text-wrapper-4">95</div>
            </div>
            <div class="sex-male-age-2">Sex: Male<br />Age: 48</div>
          </div>
        </div>
        <div class="div-wrapper">
          <div class="overlap-6">
            <div class="overlap-group-3">
              <div class="rectangle-copy"></div>
              <img class="vectorx" src="static/img/vector-2.svg" />
              <div class="rosesh-sarabhai">Rosesh<br />Sarabhai</div>
            </div>
            <div class="overlap-7">
              <img class="path" src="static/img/path-1.svg" />
              <div class="text-wrapper">75</div>
            </div>
            <div class="sex-male-age-3">Sex: Male<br />Age: 43</div>
          </div>
        </div>
        <div class="profile-2">
          <div class="overlap-8">
            <div class="overlap-group-3">
              <div class="rectangle-copy"></div>
              <img class="vectorx" src="static/img/vector-2.svg" />
              <div class="text-wrapper-3">Monisha Sarabhai</div>
            </div>
            <div class="overlap-9">
              <img class="path-2" src="static/img/path.svg" />
              <div class="text-wrapper">80</div>
            </div>
            <div class="sex-female-age-2">Sex: Female<br />Age: 45</div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="static/jquery/dist/jquery.js"></script>
  <script src="static/overlay.js"> </script>
</body>

</html>